<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar id="menuS">
    <ion-title>HidroWebnia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="reset-password">
    <h2>Redefinir Senha</h2>

    <form>
      <input [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="Digite a sua senha nova" type="email" required>
      <input [(ngModel)]="confirmNewPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirme a senha nova" type="email" required>

      <button (click)="changePassword()">Enviar</button>
    </form>
  </div>
</ion-content>
