<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar id="menuF">
    <ion-title>HidroWebnia</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="reset-password">
    <h2>Redefinir Senha</h2>

    <form>
      <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" type="email" required>

      <button (click)="forgotPassword()" [disabled]="loading">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Cadastrar</span>
      </button>
    </form>
  </div>
</ion-content>
