*{
  margin: 0;
  padding: 0;
  box-shadow: 0;
  border: none;
  margin: auto;
}

.cadastro-page{
  background: rgb(28,0,41);
  background: radial-gradient(circle, rgba(28,0,41,1) 0%, rgba(0,20,15,1) 100%);
  height: calc(100vh - (56px + env(safe-area-inset-top)));
  /*
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/img/cadastro.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(9px);
    z-index: -1;
  }
  */
}

#cadastro{
  max-width: 400px;
  max-height: 466.87px;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 0; left: 0; bottom: calc(56px + env(safe-area-inset-top)); right: 0;
  margin: auto;
}

h2{
  font-size: 24px;
  margin: 0 0 20px;
}

input{
  width: 100%;
  color: #333333;
  background-color: #e8f0fe;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: 10px 0;
  padding: 12px 10px;
}

.password{
  position: relative;
}

.password i{
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 12px;
  color: #56698a;
}

button{
  width: 100%;
  color: #fff;
  background-color: #007bff;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  padding: 14px 10px;
}

button{
  display: grid; /* Magia do alinhamento */
  place-items: center; /* Centraliza tudo no eixo X e Y */
  width: 100%;
  height: 45px;
  position: relative;
  overflow: hidden;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espaço entre spinner e texto se precisar */
  width: 100%;
}

ion-spinner {
  --color: white;
  width: 20px;
  height: 20px;
}

a{
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

p{
  margin: 20px 0 0;
}
